body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
    text-align: center;
}

.hero {
    padding: 100px;
}

button {
    padding: 10px;
    background: cyan;
    border: none;
}
