
/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: white;

    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.7);

    position: sticky;
    top: 0;
    z-index: 1000;

    backdrop-filter: blur(10px);
}

/* NAV */
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00e5ff;
}

nav a.active {
    color: #00e5ff;
    border-bottom: 2px solid #00e5ff;
}

/* LOGO */
.logo {
    font-weight: bold;
    font-size: 20px;
    color: #00e5ff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.55);

    z-index: 1;
}

.hero * {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 60px;
    letter-spacing: 1px;
}

.hero p {
    font-size: 18px;
    color: #ccc;
}

/* SECTIONS */
.section {
    padding: 50px;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    color: #ccc;
}

/* GRID */
.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARDS */
.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    background: #2a2a2a;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* BUTTONS */
button {
    padding: 12px 25px;
    background: #00e5ff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    border-radius: 6px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00e5ff;
}

/* FADE IN PAGE */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* PAGE TRANSITION OUT */
body.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* SCROLL ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
